<?xml version="1.0" encoding="UTF-8"?>
<!-- 添加 DUBBO SCHEMA -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <context:property-placeholder location="classpath:dubbo.properties" ignore-unresolvable="true"/>
    <!-- 应用名 -->
    <dubbo:application name="dubbodemo-provider"/>

    <!-- 连接到哪个本地注册中心 -->
    <dubbo:registry id="dubbodemo1" address="${zookeeper.address1}" timeout="30000"/>
    <dubbo:registry id="dubbodemo2" address="${zookeeper.address2}" timeout="3000"/>

    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="20888" />

    <!-- 声明需要暴露的服务接口 ref="name" 对应实现类的名字(默认首字母小写)-->
    <dubbo:service interface="zhang.service.Test" ref="testImpl" registry="dubbodemo1"/>
    <dubbo:service interface="zhang.service.Test2" ref="testImpl2" registry="dubbodemo2"/>

</beans>