<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.userLogin.dao.UserSessionMapper">
  <resultMap id="BaseResultMap" type="com.userLogin.entity.UserSession">
    <result column="session_id" jdbcType="VARCHAR" property="sessionId" />
    <result column="session_code" jdbcType="VARCHAR" property="sessionCode" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>


    <select id="findSessionId" parameterType="com.userLogin.entity.UserSession" resultType="integer">
        SELECT 1
        FROM user_session_table
        WHERE session_id = #{sessionId}
    </select>

    <insert id="insertSession" parameterType="com.userLogin.entity.UserSession">
        INSERT INTO user_session_table
        VALUES (#{sessionId},#{sessionCode},CURRENT_TIMESTAMP)
    </insert>

    <update id="updateSession" parameterType="com.userLogin.entity.UserSession">
        UPDATE user_session_table
        SET
          session_code = #{sessionCode}
        where
          session_id = #{sessionId}
    </update>

    <select id="getSessionImgVerifyCode" parameterType="com.userLogin.entity.UserSession" resultType="string">
        SELECT session_code
        FROM user_session_table
        WHERE session_id = #{sessionId}
    </select>

</mapper>