<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 开启注解 -->
    <mvc:annotation-driven/>
    <!-- 扫描注解包 -->
    <!-- 特别注意: 假如需要注解的class在 com.controller 中, 这里不要写成 base-package="com.controller.*"-->
    <!-- base-package="扫描的一定是包, 而不是类名" -->

    <!-- 为什么 要放在com.下面?  答案: 报错是因为我在 spring-mybatis.xml 中的配置写死了com.*, 修改一下即可-->
    <context:component-scan base-package="controller"/>
    <context:component-scan base-package="interceptor"/>


    <!-- 配置拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/userUpdate"/>
            <bean class="interceptor.UserUpdateInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>


    <bean id="ViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- WEB-INF 本身是无法直接访问的，但是springMVC这样配置之后就能直接访问了 -->
        <property name="prefix" value="/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
        <property name="locations">
            <array>
                <!--<value>classpath:properties/mybatis.properties</value>-->
            </array>
        </property>
    </bean>

</beans>
