<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <context:component-scan base-package="chapter22_MVC.controller"/>


    <!-- 配置自定义异常处理类 -->
    <context:component-scan base-package="chapter27_Exception.controller"/>
    <bean class="chapter27_Exception.controller.CustomExceptionResolver"></bean>

</beans>