<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 开启注解 -->
    <mvc:annotation-driven/>
    <!-- 扫描注解包 -->
    <!-- 特别注意: 假如需要注解的class在 com.controller 中, 这里不要写成 base-package="com.controller.*"-->
    <!-- base-package="扫描的一定是包, 而不是类名" -->

    <!-- 为什么 要放在com.下面?  答案: 报错是因为我在 spring-mybatis.xml 中的配置写死了com.*, 修改一下即可-->
    <context:component-scan base-package="com.userLogin.*"/>


    <bean id="holder" class="com.userLogin.util.SpringContextHolder" lazy-init="false" />

    <bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl"
          p:defaultEncoding="utf-8"
          p:host="smtp.exmail.qq.com"
          p:username="zhangj@xfintech.com.cn"
          p:password="填写你的密码"
          p:port="25"
          p:javaMailProperties="classpath:mail.properties"/>

    <bean id="sendEmail" class="com.userLogin.util.SendEmailUti"
          p:javaMailSender-ref="javaMailSender"
          p:from="zhangj@xfintech.com.cn"/>

    <bean id="ViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- WEB-INF 本身是无法直接访问的，但是springMVC这样配置之后就能直接访问了 -->
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
        <property name="locations">
            <array>
                <value>classpath:properties/mybatis.properties</value>
                <value>classpath:properties/SMS.properties</value>
            </array>
        </property>
    </bean>

</beans>
