<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

     <!--引入 druid 配置文件, 已经统一写在了 sping-mvc.xml 里面了-->
    <!--<bean id="mybatisPropertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">-->
    <!--<property name="order" value="1"/>-->
    <!--<property name="ignoreUnresolvablePlaceholders" value="true"/>-->
    <!--<property name="locations">-->
    <!--<list>-->
    <!--&lt;!&ndash; classpath 路径是指 resources/ 路径, 该路径经过编译后就是 classes 文件夹&ndash;&gt;-->
    <!--&lt;!&ndash; classpath*:  遍历所有的classpath，所以加载效率会比较差 &ndash;&gt;-->
    <!--<value>classpath:properties/mybatis.properties</value>-->
    <!--</list>-->
    <!--</property>-->
    <!--</bean>-->

    <!-- druid连接池配置 -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="driverClassName" value="${driverClassName}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
        <property name="filters" value="${filters}"/>
        <property name="maxActive" value="${maxActive}"/>
        <property name="initialSize" value="${initialSize}"/>
        <property name="maxWait" value="${maxWait}"/>
        <property name="timeBetweenEvictionRunsMillis" value="${timeBetweenEvictionRunsMillis}"/>
        <property name="minEvictableIdleTimeMillis" value="${minEvictableIdleTimeMillis}"/>
        <property name="validationQuery" value="${validationQuery}"/>
        <property name="testWhileIdle" value="${testWhileIdle}"/>
        <property name="testOnBorrow" value="${testOnBorrow}"/>
        <property name="testOnReturn" value="${testOnReturn}"/>
        <!-- proxyFilters属性配置: 映射 慢sql 和 Log4jFilter(日志) 组合使用 -->
        <property name="proxyFilters">
            <list>
                <!-- 慢SQL记录, 这是 Druid内置提供一个 StatFilter，用于统计监控信息 -->
                <ref bean="statFilter"/>
                <ref bean="logFilter"/>
            </list>
        </property>
    </bean>

    <!-- 慢SQL记录, 这是 Druid 内置提供一个 StatFilter，用于统计监控信息 -->
    <bean id="statFilter" class="com.alibaba.druid.filter.stat.StatFilter">
        <!-- 开启合并sql -->
        <property name="mergeSql" value="true"/>
        <!-- 开启慢查询语句,200毫秒 -->
        <property name="logSlowSql" value="true"/>
        <property name="slowSqlMillis" value="200"/>
    </bean>

    <!-- 必须导入 log4j 架包 -->
    <bean id="logFilter" class="com.alibaba.druid.filter.logging.Log4jFilter">
        <property name="resultSetLogEnabled" value="false"/>
        <property name="statementExecutableSqlLogEnable" value="true"/>
    </bean>


    <!-- ====================== mybatis 映射配置 BEGIN ====================== -->
    <!-- 配置 sqlSessionFactory: mapping.xml路径-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath*:daoMappers/*.xml"/>
    </bean>

    <!-- 配置 扫描器: dao层路径, 包下所有的映射接口-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
        <property name="basePackage" value="com.userLogin.dao"/>
    </bean>
    <!-- ====================== mybatis 映射配置 END ====================== -->


    <!-- 配置Spring的事务管理 BEGIN (暂时不知道作用)-->
    <bean id="transactionManager-xft" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <!-- 配置Spring的事务管理 END -->


</beans>