<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 这里 bean 的 id 和 class 会以键值对的形式，保存在 IOC 的容器中, 这样我们就可以在 Spring 容器中获取 -->
    <!-- 注册 bean：被监控的实现类 -->
    <bean id="baseServiceImpl" class="chapter12_BeanPostProcessor.service.impl.BaseServiceImpl"></bean>
    <bean id="baseServiceImpl2" class="chapter12_BeanPostProcessor.service.impl.BaseServiceImpl2"></bean>

    <!-- 注册代理实现类 -->
    <bean class="chapter12_BeanPostProcessor.utils.MyBeanPostProcessor"></bean>
</beans>